@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.background-image{
    background-image: url('https://cdn.pixabay.com/photo/2017/06/08/07/25/bear-2382779_1280.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}